@import "tailwindcss";

@theme {
  --color-gold-500: #C8A965;
  --color-gold-600: #C5A059;
  --color-gold-900: #3E3215;
  --font-orbitron: var(--font-orbitron);
  --font-inter: var(--font-inter);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
}

body {
  background-color: black;
  color: white;
  cursor: none;
  user-select: none;
  -webkit-user-select: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a, button, [role="button"], input, textarea, select {
  cursor: none;
}

html {
  /* scroll-behavior: smooth; <- Removed to let Lenis handle it */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}